<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>Someone - Cover Letter</title>
</head>
<body bgcolor="#CCCCCC">

<table width="760" align="center" cellpadding="20">
<tr bgcolor="#CCCCCC">
		<td height="650" valign="middle" bgcolor="#CCCCCC">
			<table width="760" cellspacing="0" cellpadding="10" border="0" align="center" style="font-family:Arial;">  
				<tbody>
					<tr bgcolor="#FFFFFF">
						<td align="left" valign="top">
							<p><strong>Hello</strong>,</p>
							<p>I'm glad to hear about the available __POSITION__ position, and formally submitting my resume for consideration.</p>
							<p>I am confident that I can make a significant contribution to your company by providing my excellent software development skills to your company and it's clients.</p>
							<p>I believe that I can be a great asset to your company and I would be most grateful for the opportunity of an interview.</p>
							<p>Please find enclosed with this letter my CV for your consideration. In closing I thank you for your time and I look forward to hearing from you.</p>
							<br />
							<p>
								<strong>Sincerely,</strong><br />
								Someone<br />
								Somewhere on earth<br />
								<u>Mobile:</u> mobile<br />
								<u>Email:</u> <a href="mailto:someone@hotmail.com?Subject=Hello%20Someone!" target="_top">someone@hotmail.com</a>
							</p>
							<p><img src="http://www.yourdomain.com/mailer/templates/images/my_thumb.jpg" width="150" height="150" /></p>
						</td>
					</tr>
				</tbody>
			</table>
			<p align="center"><img src="__PIXEL__" style="display: none" /></p>
		</td>
	</tr>
</table>
	
</body>
</html>